extends ./layout.jade

block title
  title Home page
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZnZZrP9Dcq5WiodTFYbXFRMc-pY9DNqo&callback=initMap")
  style(type="text/css").
    #map {
      
      height: 750px;
      width: 100%;
    }
    
block navbar
  a.right(onclick="getMyPosition()") 
    img(src="https://png.icons8.com/ios/50/bdc3c7/define-location-filled.png")

block content
  .filterbar
    -var width = 90/TypeList.length
    button(onclick="showAll()")  All
    each item in TypeList
      button.type(onclick="filterMark(#{item.ID})" \
      ,style="width:#{width}%",id="Type_#{item.ID}")= item._Type
    button(onclick="hideAll()") Clear
      
  div(id="map")
    script(src="/js/map_setting.js")
    script(src="/js/map_style.js")
    script(src="/js/map.js")
    script(type='text/javascript').
      var BUSIList = !{JSON.stringify(BUSIList)};
      var TypeList = !{JSON.stringify(TypeList)};
      maps = initMap()
      initMarker()
      
  a(href="https://icons8.com" id="i") Icon pack by Icons8
  script.
    // $(function() {
    //   $(&quot;#sign-in-with-twitter&quot;).on(&quot;click&quot;, function() {
    //   window.location.href = &quot;<some domain>/request-token&quot;;
    //   });
    // });
    
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    window.onclick = function(e) {
      if (!e.target.matches('.dropbtn')) {
        var myDropdown = document.getElementById("myDropdown");
        if (myDropdown.classList.contains('show')) {
          myDropdown.classList.remove('show');
        }
      }
    }
    